@model IEnumerable<testtask_v1.ViewModels.ProductViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        @using(Html.BeginForm("ExportAllProducts","Products"))
        {
            <input type="submit" value="Export all products" />
        }
        <table>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Description</th>
                <th>Count</th>
            </tr>
        @foreach (var prod in Model)
        {
            <tr>
                <td>
                    @prod.Name
                </td>
                <td>
                    @prod.Price $
                </td>
                <td>
                    @prod.Description
                </td>
                <td>
                    @prod.Count
                </td>
                <td>
                    @Html.Partial("ButtonAdd", prod.Name)
                </td>
                <td>
                    @using (Html.BeginForm("Export", "Products"))
                    {
                        <input type="hidden" value="@prod.Name" name="nameOfProduct"/>
                        <input type="submit" value="Export"/>
                    }
                </td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
